In [1]:
import pandas as pd

In [2]:
df_2023 = pd.read_csv('halfmarathon_wroclaw_2023__final.csv', sep=';')
df_2023.head()

,Miejsce,Numer startowy,Imię,Nazwisko,Miasto,Kraj,Drużyna,Płeć,Płeć Miejsce,Kategoria wiekowa,...,10 km Tempo,15 km Czas,15 km Miejsce Open,15 km Tempo,20 km Czas,20 km Miejsce Open,20 km Tempo,Tempo Stabilność,Czas,Tempo
0,1.0,1787,TOMASZ,GRYCKO,NaN,POL,UKS BLIZA WŁADYSŁAWOWO,M,1.0,M30,...,2.926667,00:44:47,1.0,3.106667,01:01:43,1.0,3.386667,0.031400,01:04:59,3.080509
1,2.0,3,ARKADIUSZ,GARDZIELEWSKI,WROCŁAW,POL,ARKADIUSZGARDZIELEWSKI.PL,M,2.0,M30,...,2.983333,00:45:26,2.0,3.143333,01:03:08,2.0,3.540000,0.038000,01:06:23,3.146875
2,3.0,3832,KRZYSZTOF,HADAS,POZNAŃ,POL,NaN,M,3.0,M20,...,3.123333,00:47:34,3.0,3.236667,01:05:09,3.0,3.516667,0.024067,01:08:24,3.242475
3,4.0,416,DAMIAN,DYDUCH,KĘPNO,POL,AZS POLITECHNIKA OPOLSKA,M,4.0,M30,...,3.196667,00:48:49,5.0,3.330000,01:06:54,4.0,3.616667,0.025467,01:10:16,3.330963
4,5.0,8476,KAMIL,MAŃKOWSKI,MIRKÓW,POL,PARKRUN WROCŁAW,M,5.0,M20,...,3.276667,00:49:31,7.0,3.386667,01:07:27,5.0,3.586667,0.023000,01:10:27,3.339654

In [3]:
df_2024 = pd.read_csv('halfmarathon_wroclaw_2024__final.csv', sep=';')
df_2024.head()

,Miejsce,Numer startowy,Imię,Nazwisko,Miasto,Kraj,Drużyna,Płeć,Płeć Miejsce,Kategoria wiekowa,...,10 km Tempo,15 km Czas,15 km Miejsce Open,15 km Tempo,20 km Czas,20 km Miejsce Open,20 km Tempo,Tempo Stabilność,Czas,Tempo
0,1.0,596,NIKODEM,DWORCZAK,KOŚCIAN,POL,NaN,M,1.0,M20,...,2.920000,00:45:07,2.0,3.083333,01:00:33,1.0,3.086667,0.007267,01:04:03,3.036265
1,2.0,616,MATEUSZ,KACZOR,RADOM,POL,RLTL OPTIMA RADOM,M,2.0,M20,...,2.920000,00:45:07,3.0,3.083333,01:00:38,2.0,3.103333,0.008267,01:04:24,3.052856
2,3.0,154,PATRYK,KOZŁOWSKI,RADOM,POL,RLTL-ZTE-RADOM,M,3.0,M20,...,2.920000,00:45:07,1.0,3.083333,01:00:59,3.0,3.173333,0.012467,01:04:40,3.065497
3,4.0,591,DARIUSZ,BORATYŃSKI,WROCŁAW,POL,WOSIEK TEAM AZS AWF WROCŁAW,M,4.0,M20,...,3.110000,00:47:48,4.0,3.293333,01:05:40,4.0,3.573333,0.028667,01:09:44,3.305681
4,5.0,521,SZYMON,DOROŻYŃSKI,LUBON,POL,SZYMI TEAM AZS POLITECHNIKA OPOLSKA,M,5.0,M30,...,3.153333,00:48:09,5.0,3.453333,01:06:05,5.0,3.586667,0.039800,01:10:05,3.322272

In [4]:
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Miejsce                    8150 non-null   float64
 1   Numer startowy             8950 non-null   int64
 2   Imię                       8950 non-null   object
 3   Nazwisko                   8950 non-null   object
 4   Miasto                     7861 non-null   object
 5   Kraj                       8150 non-null   object
 6   Drużyna                    3421 non-null   object
 7   Płeć                       8948 non-null   object
 8   Płeć Miejsce               8150 non-null   float64
 9   Kategoria wiekowa          8939 non-null   object
 10  Kategoria wiekowa Miejsce  8141 non-null   float64
 11  Rocznik                    8749 non-null   float64
 12  5 km Czas                  8123 non-null   object
 13  5 km Miejsce Open          8123 non-null   float64
 14  5 km Tempo                 8123 non-null   float64
 15  10 km Czas                 8139 non-null   object
 16  10 km Miejsce Open         8139 non-null   float64
 17  10 km Tempo                8116 non-null   float64
 18  15 km Czas                 8141 non-null   object
 19  15 km Miejsce Open         8141 non-null   float64
 20  15 km Tempo                8136 non-null   float64
 21  20 km Czas                 8144 non-null   object
 22  20 km Miejsce Open         8144 non-null   float64
 23  20 km Tempo                8137 non-null   float64
 24  Tempo Stabilność           8110 non-null   float64
 25  Czas                       8950 non-null   object
 26  Tempo                      8150 non-null   float64
dtypes: float64(14), int64(1), object(12)
memory usage: 1.8+ MB

In [5]:
df_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13007 entries, 0 to 13006
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Miejsce                    10300 non-null  float64
 1   Numer startowy             13007 non-null  int64
 2   Imię                       13007 non-null  object
 3   Nazwisko                   13007 non-null  object
 4   Miasto                     9913 non-null   object
 5   Kraj                       10300 non-null  object
 6   Drużyna                    4981 non-null   object
 7   Płeć                       12998 non-null  object
 8   Płeć Miejsce               10300 non-null  float64
 9   Kategoria wiekowa          12987 non-null  object
 10  Kategoria wiekowa Miejsce  10289 non-null  float64
 11  Rocznik                    12723 non-null  float64
 12  5 km Czas                  10288 non-null  object
 13  5 km Miejsce Open          10288 non-null  float64
 14  5 km Tempo                 10288 non-null  float64
 15  10 km Czas                 10288 non-null  object
 16  10 km Miejsce Open         10288 non-null  float64
 17  10 km Tempo                10279 non-null  float64
 18  15 km Czas                 10287 non-null  object
 19  15 km Miejsce Open         10287 non-null  float64
 20  15 km Tempo                10277 non-null  float64
 21  20 km Czas                 10295 non-null  object
 22  20 km Miejsce Open         10295 non-null  float64
 23  20 km Tempo                10285 non-null  float64
 24  Tempo Stabilność           10267 non-null  float64
 25  Czas                       10952 non-null  object
 26  Tempo                      10300 non-null  float64
dtypes: float64(14), int64(1), object(12)
memory usage: 2.7+ MB

In [6]:
# Czyszczenie danych
# Zostawiam tylko potrzebne kolumny: Płeć, Rocznik, 5 km Czas, Czas
needed_columns = ['Płeć', 'Rocznik', '5 km Czas', 'Czas']
df_2023_clean = df_2023[needed_columns].copy()
df_2024_clean = df_2024[needed_columns].copy()

In [7]:
# Usuwanie wierszy z brakującymi danymi (NaN)
df_2023_clean = df_2023_clean.dropna()
df_2024_clean = df_2024_clean.dropna()

In [8]:
# Usuwanie wierszy z DNS, DNF lub innymi niecyfrowymi wartościami w czasach
df_2023_clean = df_2023_clean[~df_2023_clean['Czas'].isin(['DNS', 'DNF', ''])]
df_2024_clean = df_2024_clean[~df_2024_clean['Czas'].isin(['DNS', 'DNF', ''])]
df_2023_clean = df_2023_clean[~df_2023_clean['5 km Czas'].isin(['DNS', 'DNF', ''])]
df_2024_clean = df_2024_clean[~df_2024_clean['5 km Czas'].isin(['DNS', 'DNF', ''])]

In [9]:
# Obliczenie wieku na podstawie roku wydarzenia i Rocznik
df_2023_clean['Wiek'] = 2023 - df_2023_clean['Rocznik'].astype(float).astype(int)
df_2024_clean['Wiek'] = 2024 - df_2024_clean['Rocznik'].astype(float).astype(int)

In [10]:
# Konwersja czasów na sekundy (z formatu HH:MM:SS na całkowite sekundy)
def time_to_seconds(time_str):
    if pd.isna(time_str) or time_str in ['DNS', 'DNF']:
        return None
    try:
        h, m, s = map(int, time_str.split(':'))
        return h * 3600 + m * 60 + s
    except:
        return None

df_2023_clean['5km_seconds'] = df_2023_clean['5 km Czas'].apply(time_to_seconds)
df_2023_clean['total_seconds'] = df_2023_clean['Czas'].apply(time_to_seconds)
df_2024_clean['5km_seconds'] = df_2024_clean['5 km Czas'].apply(time_to_seconds)
df_2024_clean['total_seconds'] = df_2024_clean['Czas'].apply(time_to_seconds)

In [11]:
# Usuwanie wierszy, gdzie konwersja czasów nie powiodła się (None)
df_2023_clean = df_2023_clean.dropna(subset=['5km_seconds', 'total_seconds', 'Wiek'])
df_2024_clean = df_2024_clean.dropna(subset=['5km_seconds', 'total_seconds', 'Wiek'])

In [12]:
# Kodowanie płci: M -> 0, K -> 1 (dla modelu)
df_2023_clean['Płeć_encoded'] = df_2023_clean['Płeć'].map({'M': 0, 'K': 1})
df_2024_clean['Płeć_encoded'] = df_2024_clean['Płeć'].map({'M': 0, 'K': 1})

In [13]:
# Usuwanie oryginalnych kolumn czasów i Płeć
df_2023_clean = df_2023_clean[['Płeć_encoded', 'Wiek', '5km_seconds', 'total_seconds']]
df_2024_clean = df_2024_clean[['Płeć_encoded', 'Wiek', '5km_seconds', 'total_seconds']]

In [14]:
# Wyświetlenie wyczyszczonych danych
print("Wyczyszczone dane 2023:")
display(df_2023_clean.head())
print("Wyczyszczone dane 2024:")
display(df_2024_clean.head())

Wyczyszczone dane 2023:

   Płeć_encoded  Wiek  5km_seconds  total_seconds
0             0    31          877           3899
1             0    37          888           3983
2             0    27          946           4104
3             0    35          971           4216
4             0    28          972           4227

Wyczyszczone dane 2024:

   Płeć_encoded  Wiek  5km_seconds  total_seconds
0             0    26          906           3843
1             0    27          906           3864
2             0    26          906           3880
3             0    27          947           4184
4             0    32          907           4205

In [17]:
# Zapisanie wyczyszczonych danych do nowych plików CSV
df_2023_clean.to_csv('clean_halfmarathon_2023.csv', index=False)
df_2024_clean.to_csv('clean_halfmarathon_2024.csv', index=False)